<h1><a href="https://github.com/scottschafer/xcelsior-sample/">Sample application</a> for <a href="https://github.com/scottschafer/xcelsior">xcelsior library</a>, a simple Typescript/Angular approach for one way data flow &
immutable models without boilerplate.</h1>
<h2><i>Note: the unit tests for xcelsior are currently included here.</i> Use <b>ng test</b> to run them.</h2>

<hr>

<br><br>

User name: <input [value]="model.user.name" (blur)="onChangeProperty(model.user, 'name', $event.target.value)">

<h3> Gizmos! </h3>

<button (click)="undo()">Undo</button><br>
<button (click)="newGizmo()">Add New Gizmo</button><br>
<button (click)="loadGizmos()">Load gizmos</button><br>

<ul>
  <li *ngFor="let item of model.gizmos.items">
    Name: <input [value]="item.name" (blur)="onChangeProperty(item, 'name', $event.target.value)">
    Sprockets: <input type="number" [value]="item.sprockets" (blur)="onChangeProperty(item, 'sprockets', $event.target.value)">
    <button (click)="delete(item)">-</button>
  </li>
</ul>


<div>
  <h2>Data model:</h2>
  {{model | json}}

  <h2>History:</h2>
  <div *ngFor="let snapshot of history; let i = index">
    <h3>#{{i}}</h3>
    {{snapshot | json}}
  </div>
</div>
